/* ==========================================================================
   Aqua skin
   ========================================================================== */

/* Colors */
$gray                       : #f10219 !default;
$dark-gray                  : #ffffff !default;
$darker-gray                : #5d0008 !default;
$light-gray                 : #ffffff !default;
$lighter-gray               : #f10219 !default;

$body-color                 : #fff !default;
$background-color           : #000 !default;
$code-background-color      : $darker-gray !default; 
$code-background-color-dark : $light-gray !default; /*页脚字体*/
$text-color                 : $dark-gray !default;  /*字体*/
$border-color               : $lighter-gray !default; /*页脚*/

$primary-color              : $gray !default;
$success-color              : #27ae60 !default;
$warning-color              : #e67e22 !default;
$danger-color               : #c0392b !default;
$info-color                 : #03a9f4 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#000, $link-color, 25%) !default;
$link-color-visited         : mix(#fff, $link-color, 25%) !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%) !default;