/* ==========================================================================
   Aqua skin
   ========================================================================== */

/* Colors */
$gray                       : #f10219 !default;
$dark-gray                  : #ffffff !default;
$darker-gray                : #5d0008 !default;
$light-gray                 : #ffffff !default;
$lighter-gray               : #5d0008 !default;

$body-color                 : #fff !default;
$background-color           : #000 !default;
$code-background-color      : $darker-gray !default; 
$code-background-color-dark : $light-gray !default; /*页脚字体*/
$text-color                 : $dark-gray !default;  /*字体*/
$border-color               : $lighter-gray !default; /*页脚*/

$primary-color              : $gray !default;
$success-color              : #27ae60 !default;
$warning-color              : #e67e22 !default;
$danger-color               : #c0392b !default;
$info-color                 : #DE0222 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : #580000 !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%) !default;


/* system typefaces 使用中文字形 */
$serif: DFKai-SB,Kai,Kaiti SC,KaiTi,BiauKai,\\6977\4F53,\\6977\4F53_GB2312,Songti SC,Georgia, Times, serif !default;
$sans-serif: "Helvetica Neue",FZYaoti,\65B9\6B63\59DA\4F53,方正姚体,"Segoe UI",-apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;