/* ==========================================================================
   Aqua skin
   ========================================================================== */

/* Colors */
$gray                       : #1976d2 !default;
$dark-gray                  : #D600FF !default;
$darker-gray                : #E60100 !default;
$light-gray                 : #FFC800 !default;
$lighter-gray               : #0019AE !default;

$body-color                 : #fff !default;
$background-color           : #6E7376 !default;
$code-background-color      : $lighter-gray !default;
$code-background-color-dark : $light-gray !default;
$text-color                 : $dark-gray !default;
$border-color               : $lighter-gray !default;

$primary-color              : $gray !default;
$success-color              : #27ae60 !default;
$warning-color              : #e67e22 !default;
$danger-color               : #c0392b !default;
$info-color                 : #03a9f4 !default;

/* links */
$link-color                 : $info-color !default;
$link-color-hover           : mix(#000, $link-color, 25%) !default;
$link-color-visited         : mix(#fff, $link-color, 25%) !default;
$masthead-link-color        : $primary-color !default;
$masthead-link-color-hover  : mix(#000, $primary-color, 25%) !default;